{% extends 'base.html.twig' %}

{% block title %}Tous les rendez-vous{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h2>Tous les rendez-vous✅</h2>
    {{ include('includes/task-list.html.twig') }}
 
</div>
{% endblock %}
